{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/style.css' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body class="body" style="margin-top: 25px">
    <div class="nav-bar">
      <a class="back-home_btn" href="/home" style="margin: 25px"> Home </a>
      <a
        class="back-home_btn"
        href="{%url 'recipes:list' %}"
        style="margin: 25px"
      >
        List
      </a>
    </div>

    <div>
      <h1 style="text-align: center; margin-top: 100px">
        Details: {{object.name}}
      </h1>

      <div class="details">
        <b>Name: </b> {{object.name}} <br />
        <br />
        <b>Cooking Time (min): </b> {{object.cooking_time}} <br />
        <br />
        <b>Difficulty: </b> {{object.calculate_difficulty}} <br />
        <br />
        <b>Ingredients: </b> {{object.ingredients}} <br />
        <br />
        <b>Description: </b> {{object.description}} <br />
        <br />
        <img src="{{object.pic.url}}" width="500px" height="500px" />
      </div>
    </div>
  </body>
</html>
