{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/style.css' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body class="body" style="margin-top: 25px">
    <div class="nav-bar">
      <a class="back-home_btn" href="/home" style="margin: 25px"> Home </a>
      <a class="logout_btn" href="{% url 'logout' %}">Logout</a>
      <a
        class="back-home_btn"
        href="{% url 'recipes:records' %}"
        style="margin: 25px"
        >Search</a
      >
      <a
        class="back-home_btn"
        href="{% url 'recipes:add recipe' %}"
        style="margin: 25px"
        >Add</a
      >
      <a
        class="back-home_btn"
        href="{%url 'recipes:list' %}"
        style="margin: 25px"
      >
        List
      </a>
    </div>
    <div class="Profile">
      <h2><span>About Me</span></h2>
      <p>
        Welcome to my Django Recipe App. My name is Cody Ayers and I am
        currently working on my Web Development
      </p>
    </div>
    <br />
  </body>
</html>
