{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/style.css' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body class="body" style="margin-top: 150px">
    <div class="auth">
      <h1>Login</h1>
      {# print heading #} {# check for error message #} {% if error_message %}
      {{error_message}} {% endif %} {# print form #}
      <form action="" method="POST">
        {# add Django security token #} {% csrf_token %} {{form}}
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
