{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/style.css' %}"
    />
  </head>

  <body class="body">
    <div class="auth">
      <h1>Log in</h1>
      {# check for error message #} {% if error_message %}
      <p style="color: var(--danger)">{{error_message}}</p>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-field">{{form}}</div>
        <button type="submit">Log in</button>
      </form>
    </div>
  </body>
</html>
