{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/style.css' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpg' %}")
          no-repeat fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body class="body" style="margin-top: 150px">
    <div class="auth">
      <h2 class="success">Successfully Logged Out!</h2>
      <br />
      <br />
      <br />
      <a class="login_btn" href="{%url 'login' %}">Login</a>
    </div>
  </body>
</html>
